<body>
  <div class="container">
    <div class="title" style="margin-top:15px;margin-left:10px;font-size: 80px" >Book a Flight</div>
    <form [formGroup]="flightform" action="#">
      <div class="input-box"   style="margin:10px;"  >
        <label> Full name </label>
        <input  class="form-control" [ngModel]="flight.fullName" formControlName="Name" placeholder="Enter your name" >
        <div class="vari" style="color: rgb(48, 115, 177);" *ngIf="flightform.get('Name')?.errors?.['required']"> please enter yourname !</div>
      </div>

      <div class="select" style="margin:10px;">
        <label class="form-label">From</label>
        <select class="form-select" formControlName="From" [ngModel]="flight.from">
          <option value=" ">
          <option value="Bangkok">Bangkok
          <option value="South Korea	">South Korea
          <option value="China">China
          <option value="Japan">Japan
          <option value="Turkey">Turkey
          <option value="Brunei">Brunei
          <option value="Laos	">Laos
          <option value="Lemon Iced Tea ">Maldives
        </select>
        <div class="vari" style="color: rgb(48, 115, 177);" *ngIf="flightform.get('From')?.errors?.['required']">*from required</div>

        <label class="form-label" >To</label>
        <select class="form-select" formControlName="To" [ngModel]="flight.to">
          <option value=" ">
          <option value="Bangkok">Bangkok
          <option value="South Korea	">South Korea
          <option value="China">China
          <option value="Japan">Japan
          <option value="Turkey">Turkey
          <option value="Brunei">Brunei
          <option value="Laos	">Laos
          <option value="Maldives">Maldives
        </select>
        <div class="vari" style="color: rgb(48, 115, 177);" *ngIf="flightform.get('From')?.errors?.['required']">*from required</div>
      </div>

      <div class="radio" style="margin:10px;" >
        <p>Trip Type</p> <span style="color: red" *ngIf="flightform.get('type')?.errors?.['required']"><br>กรุณากรอกข้อมูล</span><br/>
        <input type="radio" formControlName="Type" value="One Way"><span>One-way</span>
        <input type="radio" formControlName="Type" value="Return"><span>Return</span>
      </div>

      <div class="date" style="margin:10px;">
        <label>Departure</label> <span style="color: red" *ngIf="flightform.get('departure')?.errors?.['required']">กรุณากรอกข้อมูลวันที่ออกเดินทาง</span>
        <input type="date" [ngModel]="flight.departure" formControlName="FlightDepart">
        <label>Arrival</label> <span style="color: red" *ngIf="flightform.get('departure')?.errors?.['required']">กรุณากรอกข้อมูลวันที่ออกเดินทาง</span>
        <input type="date" [ngModel]="flight.arrival" formControlName="FlightArrive" >

      </div>

      <div class="input-num" style="margin:10px;"  >
        <span class="number">Adults</span>
        <input type="number" min="0" max="10"  formControlName="Adults">
        <span class="number">Children</span>
        <input type="number" min="0" max="10" formControlName="Children">
        <span class="number">Infants</span>
        <input type="number" min="0" max="10"  formControlName="Infants">


      </div>


      <div>
        <button type="submit"   class="button is-link"  (click)="onSubmit(flightform)">SUBMIT</button>
      </div>

      <table class="table" style="margin: 60px;" >
        <thead>
          <tr>
            <th> Full Name </th>
            <th> From </th>
            <th> To </th>
            <th> Trip Type </th>
            <th> Adults </th>
            <th> Children </th>
            <th> Infants </th>
            <th> Departure </th>
            <th> Arrival </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor=" let l of flights">
            <td>{{  l.fullName  }}</td>
              <td>{{  l.from  }}</td>
              <td>{{  l.to  }}</td>
              <td>{{  l.type  }}</td>
              <td>{{  l.adults  }}</td>
              <td>{{  l.children  }}</td>
              <td>{{  l.infants  }}</td>
              <td>{{  l.departure  }}</td>
              <td>{{  l.arrival  }}</td>
            </tr>
        </tbody>

    </table>

    </form>
  </div>
</body>
