body{
  margin-bottom: 10%;
    min-height: 730px;

}

table{
  margin: auto;
  margin-top: 3%;
  border-radius: 10px;
  width: 80%;
  table-layout: fixed;
  background-color: rgba(75, 134, 158, 0.582);
}
th{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: rgb(0, 0, 0);
  border: 1px solid rgba(255,255,255,0.1);
}
td{
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 14px;
  color: rgb(0, 0, 0);
  border-bottom: solid 1px rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
}



select{
  min-width: 15%;
  min-height: 30px;
}
.right{
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  width: 70%;
  text-align: center;
  border-radius: 5%;
  min-height: 730px;
  box-shadow: 12px 12px 24px#222;
}
button{
  font-size: large;
  border-radius:5% ;
  min-height: 30px;
  min-width: 10%;
  text-align: center;
  background-color: rgba(34, 150, 196, 0.788);
}


title{
  text-align: center;
  min-width: 15%;
  min-height: 30px;
  font-weight: 300;
  font-size: 14px;

}

